.container {
  /* position: fixed;
    top: 0;
    left: 0; 
    height: 100vh;*/
  width: 100%;
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 2800px;
  height: 100vh;
  background-color: black;
}

.slides {
  position: absolute;
  top: 15%;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.slide {
  position: relative;
  width: 400px;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}

.img {
  position: absolute;
  left: -100px;
  width: 600px;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  transition: filter 0.5s linear;
}
.img:hover {
  filter: grayscale(67%) contrast(128%);
}
